Repository gnieh/fs2-data, pull requests merged in 2020-06, with the labels that each got.

#35 Use VectorBuilder as chunk accumulator
  .travis.yml
  csv/src/fs2/data/csv/internals/RowParser.scala
  json/src/fs2/data/json/internal/TokenParser.scala
  xml/src/fs2/data/xml/internals/EventParser.scala
Labels: enhancement

#36 Add @implicitNotFound on CSV type classes
  csv/src/fs2/data/csv/CellDecoder.scala
  csv/src/fs2/data/csv/CellEncoder.scala
  csv/src/fs2/data/csv/CsvRowDecoder.scala
  csv/src/fs2/data/csv/CsvRowEncoder.scala
  csv/src/fs2/data/csv/RowDecoder.scala
  csv/src/fs2/data/csv/RowEncoder.scala
  csv/test/src/fs2/data/csv/CellDecoderTest.scala
  csv/test/src/fs2/data/csv/CellEncoderTest.scala
Labels: csv, enhancement

#37 Add mandatory field selector
  documentation/docs/json/index.md
  json/src/fs2/data/json/JsonException.scala
  json/src/fs2/data/json/SelectorParser.scala
  json/src/fs2/data/json/internal/TokenSelector.scala
  json/src/fs2/data/json/selectors.scala
  json/test/src/fs2/data/json/JsonSelectorSpec.scala
Labels: enhancement, json

#38 Ensure all values are emitted before raising
  documentation/docs/json/index.md
  json/src/fs2/data/json/internal/TokenParser.scala
  json/src/fs2/data/json/internal/TokenSelector.scala
  json/src/fs2/data/json/internal/ValueParser.scala
  json/src/fs2/data/json/internal/package.scala
  json/test/src/fs2/data/json/JsonExceptionSpec.scala
  xml/src/fs2/data/xml/internals/EventParser.scala
  xml/src/fs2/data/xml/internals/package.scala
  xml/test/src/fs2/data/xml/XmlExceptionSpec.scala
Labels: enhancement
