Repository gnieh/fs2-data, pull requests merged in 2022-10, with the labels that each got.

#385 Fix XML rendering
  xml/src/main/scala/fs2/data/xml/XmlEvent.scala
  xml/src/main/scala/fs2/data/xml/package.scala
  xml/src/test/scala/fs2/data/xml/XmlEventShowTest.scala
  xml/src/test/scala/fs2/data/xml/XmlRenderTest.scala
Labels: bug, xml

#391 Allow empty csv cell strings in generic derivation
  csv/generic/shared/src/main/scala-2/fs2/data/csv/generic/internal/MapShapedCsvRowDecoder.scala
  csv/generic/shared/src/main/scala-3/fs2/data/csv/generic/internal/OptCellDecoder.scala
  csv/generic/shared/src/main/scala-3/fs2/data/csv/generic/semiauto.scala
  csv/generic/shared/src/test/scala/fs2/data/csv/generic/CsvRowDecoderTest.scala
  csv/generic/shared/src/test/scala/fs2/data/csv/generic/RowDecoderTest.scala
Labels: enhancement, csv

#397 Add asNonEmpty and asNonEmptyAt
  csv/shared/src/main/scala/fs2/data/csv/RowF.scala
  csv/shared/src/test/scala/fs2/data/csv/RowFTest.scala
Labels: enhancement, csv

#396 CSV decoder Instances for DecoderResult
  csv/shared/src/main/scala/fs2/data/csv/RowDecoderF.scala
  csv/shared/src/test/scala/fs2/data/csv/RowDecoderFTest.scala
Labels: enhancement, csv

#398 Delete legacy workflow
  .github/workflows/release.yml
Labels: infrastructure

#399 Make guard type abstract and integrate in MFT
  finite-state/shared/src/main/scala/fs2/data/esp/ESP.scala
  finite-state/shared/src/main/scala/fs2/data/esp/Guard.scala
  finite-state/shared/src/main/scala/fs2/data/esp/Input.scala
  finite-state/shared/src/main/scala/fs2/data/esp/Pattern.scala
  finite-state/shared/src/main/scala/fs2/data/mft/MFT.scala
  finite-state/shared/src/main/scala/fs2/data/mft/MFTBuilder.scala
  finite-state/shared/src/main/scala/fs2/data/mft/Rules.scala
  finite-state/shared/src/main/scala/fs2/data/mft/package.scala
  finite-state/shared/src/main/scala/fs2/data/pattern/DecisionTree.scala
  finite-state/shared/src/main/scala/fs2/data/pattern/Selectable.scala
  finite-state/shared/src/test/scala/fs2/data/esp/CopySpec.scala
  finite-state/shared/src/test/scala/fs2/data/esp/DupSpec.scala
  finite-state/shared/src/test/scala/fs2/data/esp/ESPSpec.scala
  finite-state/shared/src/test/scala/fs2/data/pattern/MiniXML.scala
  finite-state/shared/src/test/scala/fs2/data/pattern/PatGuardSpec.scala
  finite-state/shared/src/test/scala/fs2/data/pattern/PatSpec.scala
  finite-state/shared/src/test/scala/fs2/data/pattern/example/ArticleSpec.scala
Labels: enhancement, finite state

#406 Add automatic labeling for scala-steward PRs
  .github/pr-branch-labeler.yml
  .github/workflows/pr-branch-labeler.yml
Labels: infrastructure

#407 Update sbt-scoverage to 2.0.6
  project/plugins.sbt
Labels: dependency update

#408 Improve MFT guard power
  finite-state/shared/src/main/scala/fs2/data/mft/MFT.scala
  finite-state/shared/src/main/scala/fs2/data/mft/MFTBuilder.scala
  finite-state/shared/src/main/scala/fs2/data/mft/package.scala
  finite-state/shared/src/test/scala/fs2/data/esp/ESPSpec.scala
  finite-state/shared/src/test/scala/fs2/data/pattern/example/ArticleSpec.scala
Labels: enhancement, finite state

#410 Fix guard position on node
  finite-state/shared/src/main/scala/fs2/data/mft/MFT.scala
  finite-state/shared/src/test/scala/fs2/data/esp/ESPSpec.scala
Labels: bug, finite state
